ion-content{
  --background: #fff url("../../assets/background/main_screen.jpg") no-repeat center center / cover;
  position: relative;
}

ion-item{
  --background: #fff;
  opacity: 0.6;
  margin: 2px;
}

div{
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
  border-radius: 5px;
}

ion-button{
  width: 100%;
}
