ion-content{
  --background: #fff url("../../assets/background/main_screen.jpg") no-repeat center center / cover;
  position: relative;
}

ion-item{
  --background: #fff;
  opacity: 0.6;
  margin: 2px;
}

div{
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 40%;
  border-radius: 5px;
}

ion-button{
  width: 100%;
}
//
//ion-item:first-child {
//  border-top-left-radius: 5px;
//  border-top-right-radius: 5px;
//}
//ion-item:last-child {
//  border-bottom-left-radius: 5px;
//  border-bottom-right-radius: 5px;
//}
//ion-item.item {
//  background-color: rgba(255, 255, 255, 0.4);
//  margin-bottom: 1px;
//  .label {
//    width: 10%;
//    color: rgba(0, 0, 0, 0.6);
//    font-size: 1.2em;
//  }
//}
