<ion-header>
    <ion-toolbar>
        <ion-title>
            Zero Waste LOGIN
        </ion-title>
        <ion-buttons slot="secondary">
            <ion-button color="medium" disabled="true">Zaloguj</ion-button>
            <ion-button>Zarejestruj</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <ion-item>
            <ion-input placeholder="Login"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Hasło" type="password"></ion-input>
        </ion-item>

        <ion-button>
            Zaloguj
        </ion-button>

    </div>

</ion-content>
